#AboutUs {
  font-family: 'Public Sans', sans-serif;
  padding: 80px 0;

  .AboutUs {

    &--us {
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 120%;
      text-align: center;
    }

    &--lorem {
      display: flex;
      align-items: center;
      justify-content: center;

      &__page {
        padding: 0 0 0 50px;
        font-size: 18px;
        line-height: 160%;
        color: #19272E;
      }
    }
  }
}