#Genres {
  font-family: 'Public Sans', sans-serif;
  padding: 120px 0;

  .Genres {
    &--text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 95%;
      margin-bottom: 27px;


      &__first {
        margin: 0 0 40px 50px;
        font-weight: 500;
        font-size: 40px;
        height: 58px;
      }

      &__nav {
        a {
          color: #818EEA;
          font-weight: 500;
          font-size: 18px;
        }

        a:hover {
          text-decoration: underline;
        }
      }

    }

    &--categories {
      display: flex;
      justify-content: space-evenly;
      &__task {
        width: 148px;
        height: 194px;
        background: #F5F5F5;
        border: 1.5px solid #E1E1E1;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &--name{
          margin-top: 25px;
        }
      }
    }
  }
}