#header{
  box-shadow: 0 0 14px grey;
  margin-bottom: 40px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
    &--nav {
      display: flex;

      a {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #19272E;
        text-decoration: none;
        margin: 0 15px;
      }
      .active {
        font-weight: 600;
        font-size: 17px;

        color: #818EEA;

      }

    }

    &--input {
      &__search {
        color: #19272E;
        font-size: 22px;
        margin: 0 15px;
      }
      &__bags {
        font-size: 25px;
        color: #19272E;
      }
    }
  }
}